# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alexandre\Desktop\SD\Pratica\sd-assignment-1\ASS1_T1_G7\AirLiftVConc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
